* {
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;

}



.form{
        padding: 30px;
        margin: 0 auto;
        width: 50%;
    }

.bg-dark {
    background-color: #343a40!important;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
}

 nav.navbar.navbar-light.mb-2 {
    background-color: rgb(197, 197, 197);
    display: block;
    text-align: right;
    width: auto;
    text-decoration: none;

}


.modal,
.modal_post,
.modal_prof,
.modal_withdraw {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(152, 152, 152, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
    text-decoration: none;

}

ul {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0.5rem 0;
    text-decoration: none;

}

ul li {
    padding: 0 2rem;
    font-size: 25px;
    text-decoration: none;

}

ul li.top_link {
    margin-right: auto;
    text-decoration: none;

}

ul li a {
    color: #fff;
    text-decoration: none;

}

ul li a:hover {
    color: #fff;
}

ul.main_ul {
    display: -webkit-flex;
    display: flex;
    text-decoration: none;

}

ul.main_ul a:hover {
    opacity: 0.5;
}


    textarea {
        width: 98%;
        height: 60px;
    }

    .file-up {
        margin-bottom: 10px;
    }

    .submit {
        text-align: right;
    }

    .btn {
        display: inline-block;
        border-radius: 3px;
        font-size: 18px;
        background: tomato;
        border: 2px solid tomato;
        padding: 5px 10px;
        color: #fff;
        cursor: pointer;
    }

.wrap {
  display: flex;
  flex-wrap: wrap;
}

.item {
  padding: 30px;
  width: 32%;
  background-color: #fff;
}

.item:not(:nth-child(3n+3)) {
  margin-right: 2%;
}

.item:nth-child(n+4) {
  margin-top: 30px;
}

@media not all and (min-width: 768px) {
  .item {
    width: 100%;
  }

  .item:not(:nth-child(3n+3)) {
    margin-right: 0;
  }

  .item:nth-child(n+2) {
    margin-top: 30px;
  }
}

.bun{
    font-size: 30px;
    /* padding-left: 15px; */
}


 /* フッター */
.footer {
   
	/* background-color:orange; */
    margin-top: 40px;
   display: flex;
 justify-content: center;
 align-items:flex-end;
 
}


/* モーダル設定 */
.post_process {
    display: none;
    position: fixed;
    z-index: 15;
    top: 30%;
    left: 50%;
    width: 600px;
    padding: 10px;
    background-color: #121212;
    border-radius: 8px;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
    color: #fff;
    font-size: 1.3rem;
    border: 0.3rem solid #fff;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(152, 152, 152, 0.7);
    width: 100%;
    height: 100%;
    z-index: 10;
}